<h1>Provide some word to check if it is a pallindrome or not!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Your word</label>
    <input id="user_word" name="user_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
